body {
  font-family: Arial, sans-serif;
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2F736x%2Fce%2Ff7%2F9e%2Fcef79e324be2300177f76c88bd925129--funny-things-funny-stuff.jpg&f=1&nofb=1&ipt=b4618279508db368c97e107799a12c22e34d34a1ba90f1f82c69abde049ba0ab&ipo=images");
  margin: 0;
}

.tabs {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.tab {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #444;
  }

.tab-title {
  flex: 1;
}

.tab-close {
  margin-left: 10px;
  cursor: pointer;
}

.tab:hover {
  
}

.iframe-container {
  display: none;
  border: 1px solid #444;
  border-top: none;
  padding: 0;
  transition: all 0.3s ease;
}

.iframe-container.active {
  display: block;
}

iframe {
  width: 100%;
  height: calc(100vh - 50px);
  border: none;
}

button:hover {
  background-color: #00000000;
}

input {
  border: none;
  border-radius: 5px;
  background-color: #00000000;
  padding: 8px 10px;
  width: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.button-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

button {
  display: flex;
  background-color: #00000000;
  align-items: center;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #444;
}

#searchBar {
  flex: 1;
  margin-right: 10px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

.content {
    position: relative;
    z-index: 2;
    padding: 20px;
}

.hidden {
    display: none;
}

.shown {
    position: fixed;
    left: 50%;
    margin-top: -50px;
    margin-left: -150px;
}

.shownbutton {
    position: fixed;
    top: 50%;
    background-color: #fff;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
}

.shownbutton:hover {
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

.closethank {
    background-color: #fff;
}

.closethank:hover {
  background-color: #fff;
}